<div class = "jumbotron">"
  <div class = "container">
    <h1>Facebook On Rails</h1>
    <p>This is a demo facebook app</p>

    <div class="progress">
      <div class="progress-bar" style="width:40%;"> </div>  
      <div class="progress-bar progress-bar-warning" style="width:10%;"> </div>  
      <div class="progress-bar progress-bar-danger" style="width:10%;"> </div>  
      <div class="progress-bar progress-bar-success" style="width:10%;"> </div>  
      <div class="progress-bar progress-bar-info" style="width:10%;"> </div>  
    </div>
  </div>
</div>
<div class = "container">
  <div class = "row">
    <div class = "col-md-12">
      <h2>how it works</h2>
      <hr>
    </div>
  </div>
  <div class= "row">
    <div class="col-md-4">
      <h3>Do wierd stuff</h3>
      <p>youmight or might not be able to do wierd stuff here</p>
    </div>
    <div class="col-md-4">
      <h3>Tell us what you want</h3>
      <p>you can let us know what you want and we will get back to yoy</p>
    </div>
    <div class="col-md-4">
      <h3>Have fun</h3>
      <p>we are here to have fun with some ruby on rails </p>
    </div>
  </div>
</div>

